# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

input/DESCENT.*
output/*
!output/README.md
converted/backgrounds/*.png
converted/fonts/*.json
converted/fonts/*.png
converted/palettes/*.png
converted/surfaces/*.png
converted/texts/*.txt
converted/textures/*.png
converted/sounds/*.wav
.idea